VITE_APP_BACKEND_BASE_URL=https://api.tokshop.click
VITE_SYMLINK_FOLDER=storage
VITE_CLERK_PUBLISHABLE_KEY=
VITE_CLERK_SIGN_IN_URL=/login
VITE_CLERK_SIGN_UP_URL=/register

FRONTEND_HTTP_PORT=8080
BACKEND_HTTP_PORT=8081
