APP_NAME=Ecommerce
APP_ENV=staging
APP_KEY=
APP_DEBUG=false
APP_URL=https://staging-api.tokshop.click
FRONTEND_URL=https://staging.tokshop.click

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=ecommerce_staging
DB_USERNAME=ecommerce
DB_PASSWORD=ecommerce

POSTGRES_DB=ecommerce_staging
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce

CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

CLERK_SECRET_KEY=

XENDIT_KEY=
